{erl_opts, [fail_on_warning, debug_info]}.
{cover_enabled, true}.
{plugins, [rebar3_hex]}.
{deps,[
  %% Packages
   {amqp_client, "3.6.14"},
   %{amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}}
   {smpp34pdu, {git, "git@bitbucket.org:mobiliteam/sc-pdu.git", {branch, "develop"}}}
]}.
